@charset "UTF-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

/* CSS 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: c333; */
}
a,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}
button,
input[type="button"],
input[type="checkBox"],
label {
  border: 0;
  cursor: pointer;
}
ul,
li,
ol,
dl,
menu {
  list-style: none;
}
html,
body {
  min-height: 100%;
}

/* cartTitle */
.cartTitle {
  background-color: #f8f8ff;
  height: 200px;
  padding-top: 40px;
  text-align: center;
}

.cartTitle h1 {
  margin-bottom: 40px;
}

.cartTitle ul {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cartTitle span {
  font-size: 20px;
  font-weight: 900;
}

.cartTitle i,
.cartTitle span {
  margin: 0 20px;
  opacity: 0.5;
}
.cartTitle .cart {
  opacity: 1;
}

.cartTitle .cartTitleIcon {
  margin-bottom: 15px;
}

.cartTitle .arrow {
  padding-top: 20px;
}


.orderPage {
	margin: 0 auto;
	border-collapse: collapse;
	width: 1200px;
}
tr {
	 height: 150px; /* 원하는 높이로 설정 */
    border-bottom: 5px solid #c8c8c8; /* border-bottom 스타일을 설정 */
}

tr > td {
	height: 150px;
	font-size: 20px;
	font-weight: 700px;
	font-size: 19px;
  	font-weight: 900;
  	color: #5f5f5f;
}
.checkOne {
	height: 150px;
	line-height: 150px;
}
.cartImg {
	margin-bottom: 25px;
}



/* 배송 정보 */
textarea {
	resize: none;
}


#btnPay {
	width: 150px;
	height: 70px;
	outline: 1px solid #ac8b68;
	color: #ac8b68;
	font-size: 20px;
	background-color: transparent;
}
